=begin
#Pinwheel

#Pinwheel is the API for Payroll

The version of the OpenAPI document: v2023-11-22
Contact: support@getpinwheel.com
Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module Pinwheel
  class SandboxApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Override an account's monitoring status
    # Manually override a sandbox account's monitoring status.
    # @param account_id [String] UUID of the payroll account.
    # @param pinwheel_version [String] Version identifier specifying how the Pinwheel API should behave. See the Change Management page for more information.
    # @param payroll_account_patch_monitoring_status [PayrollAccountPatchMonitoringStatus] 
    # @param [Hash] opts the optional parameters
    # @return [GetAccountV1AccountsAccountIdGet200Response]
    def patch_monitoring_status_v1_sandbox_accounts_account_id_patch(account_id, pinwheel_version, payroll_account_patch_monitoring_status, opts = {})
      data, _status_code, _headers = patch_monitoring_status_v1_sandbox_accounts_account_id_patch_with_http_info(account_id, pinwheel_version, payroll_account_patch_monitoring_status, opts)
      data
    end

    # Override an account&#39;s monitoring status
    # Manually override a sandbox account&#39;s monitoring status.
    # @param account_id [String] UUID of the payroll account.
    # @param pinwheel_version [String] Version identifier specifying how the Pinwheel API should behave. See the Change Management page for more information.
    # @param payroll_account_patch_monitoring_status [PayrollAccountPatchMonitoringStatus] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAccountV1AccountsAccountIdGet200Response, Integer, Hash)>] GetAccountV1AccountsAccountIdGet200Response data, response status code and response headers
    def patch_monitoring_status_v1_sandbox_accounts_account_id_patch_with_http_info(account_id, pinwheel_version, payroll_account_patch_monitoring_status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SandboxApi.patch_monitoring_status_v1_sandbox_accounts_account_id_patch ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling SandboxApi.patch_monitoring_status_v1_sandbox_accounts_account_id_patch"
      end
      # verify the required parameter 'pinwheel_version' is set
      if @api_client.config.client_side_validation && pinwheel_version.nil?
        fail ArgumentError, "Missing the required parameter 'pinwheel_version' when calling SandboxApi.patch_monitoring_status_v1_sandbox_accounts_account_id_patch"
      end
      # verify enum value
      allowable_values = ["2023-11-22", "2023-07-18", "2023-04-18", "2022-09-09", "2022-06-22", "2022-03-02"]
      if @api_client.config.client_side_validation && !allowable_values.include?(pinwheel_version)
        fail ArgumentError, "invalid value for \"pinwheel_version\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'payroll_account_patch_monitoring_status' is set
      if @api_client.config.client_side_validation && payroll_account_patch_monitoring_status.nil?
        fail ArgumentError, "Missing the required parameter 'payroll_account_patch_monitoring_status' when calling SandboxApi.patch_monitoring_status_v1_sandbox_accounts_account_id_patch"
      end
      # resource path
      local_var_path = '/sandbox/accounts/{account_id}'.sub('{' + 'account_id' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Pinwheel-Version'] = pinwheel_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payroll_account_patch_monitoring_status)

      # return_type
      return_type = opts[:debug_return_type] || 'GetAccountV1AccountsAccountIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiSecret']

      new_options = opts.merge(
        :operation => :"SandboxApi.patch_monitoring_status_v1_sandbox_accounts_account_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SandboxApi#patch_monitoring_status_v1_sandbox_accounts_account_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
