# #Pinwheel
#
# Pinwheel is the API for Payroll
#
# The version of the OpenAPI document: v2023-11-22
# Contact: support@getpinwheel.com
# Generated by: https://openapi-generator.tech
# Generator version: 7.7.0
#

require "cgi"

module Pinwheel
  class TaxFormsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Get Tax Form
    # Gets a specific tax form with document data.
    # @param tax_form_id [String] Unique identifier of the tax form object.
    # @param account_id [String] UUID of the payroll account.
    # @param pinwheel_version [String] Version identifier specifying how the Pinwheel API should behave. See the Change Management page for more information.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :with_parsed_data If set to true, return the parsed data of the tax form document. Note the billing implications of the Tax Forms endpoint.
    # @return [GetTaxFormV1AccountsAccountIdTaxFormsTaxFormIdGet200Response]
    def get_tax_form_v1_accounts_account_id_tax_forms_tax_form_id_get(tax_form_id, account_id, pinwheel_version, opts = {})
      data, _status_code, _headers = get_tax_form_v1_accounts_account_id_tax_forms_tax_form_id_get_with_http_info(tax_form_id, account_id, pinwheel_version, opts)
      data
    end

    # Get Tax Form
    # Gets a specific tax form with document data.
    # @param tax_form_id [String] Unique identifier of the tax form object.
    # @param account_id [String] UUID of the payroll account.
    # @param pinwheel_version [String] Version identifier specifying how the Pinwheel API should behave. See the Change Management page for more information.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :with_parsed_data If set to true, return the parsed data of the tax form document. Note the billing implications of the Tax Forms endpoint.
    # @return [Array<(GetTaxFormV1AccountsAccountIdTaxFormsTaxFormIdGet200Response, Integer, Hash)>] GetTaxFormV1AccountsAccountIdTaxFormsTaxFormIdGet200Response data, response status code and response headers
    def get_tax_form_v1_accounts_account_id_tax_forms_tax_form_id_get_with_http_info(tax_form_id, account_id, pinwheel_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TaxFormsApi.get_tax_form_v1_accounts_account_id_tax_forms_tax_form_id_get ..."
      end
      # verify the required parameter 'tax_form_id' is set
      if @api_client.config.client_side_validation && tax_form_id.nil?
        fail ArgumentError, "Missing the required parameter 'tax_form_id' when calling TaxFormsApi.get_tax_form_v1_accounts_account_id_tax_forms_tax_form_id_get"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TaxFormsApi.get_tax_form_v1_accounts_account_id_tax_forms_tax_form_id_get"
      end
      # verify the required parameter 'pinwheel_version' is set
      if @api_client.config.client_side_validation && pinwheel_version.nil?
        fail ArgumentError, "Missing the required parameter 'pinwheel_version' when calling TaxFormsApi.get_tax_form_v1_accounts_account_id_tax_forms_tax_form_id_get"
      end
      # verify enum value
      allowable_values = ["2023-11-22", "2023-07-18", "2023-04-18", "2022-09-09", "2022-06-22", "2022-03-02"]
      if @api_client.config.client_side_validation && !allowable_values.include?(pinwheel_version)
        fail ArgumentError, "invalid value for \"pinwheel_version\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = "/accounts/{account_id}/tax_forms/{tax_form_id}".sub("{" + "tax_form_id" + "}", CGI.escape(tax_form_id.to_s)).sub("{" + "account_id" + "}", CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:with_parsed_data] = opts[:with_parsed_data] if !opts[:with_parsed_data].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"])
      header_params[:"Pinwheel-Version"] = pinwheel_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "GetTaxFormV1AccountsAccountIdTaxFormsTaxFormIdGet200Response"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["apiSecret"]

      new_options = opts.merge(
        operation: :"TaxFormsApi.get_tax_form_v1_accounts_account_id_tax_forms_tax_form_id_get",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxFormsApi#get_tax_form_v1_accounts_account_id_tax_forms_tax_form_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end

    # List Tax Forms
    # Lists all tax forms associated with a payroll account. Each tax form contains metadata like year, form type, and form ID. Tax forms are returned in reverse chronological order by year. This is a paginated endpoint; see how Pinwheel implements pagination <a href='https://docs.pinwheelapi.com/docs/pagination-1' target='_blank'>here</a>.
    # @param account_id [String] UUID of the payroll account.
    # @param pinwheel_version [String] Version identifier specifying how the Pinwheel API should behave. See the Change Management page for more information.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :from_year Filter for tax forms during or after this year.
    # @option opts [Integer] :to_year Filter for tax forms during or before this year.
    # @option opts [String] :cursor Cursor for the page you want to retrieve.
    # @option opts [Integer] :limit The maximum number of results to return.
    # @return [ListTaxFormsV1AccountsAccountIdTaxFormsGet200Response]
    def list_tax_forms_v1_accounts_account_id_tax_forms_get(account_id, pinwheel_version, opts = {})
      data, _status_code, _headers = list_tax_forms_v1_accounts_account_id_tax_forms_get_with_http_info(account_id, pinwheel_version, opts)
      data
    end

    # List Tax Forms
    # Lists all tax forms associated with a payroll account. Each tax form contains metadata like year, form type, and form ID. Tax forms are returned in reverse chronological order by year. This is a paginated endpoint; see how Pinwheel implements pagination &lt;a href&#x3D;&#39;https://docs.pinwheelapi.com/docs/pagination-1&#39; target&#x3D;&#39;_blank&#39;&gt;here&lt;/a&gt;.
    # @param account_id [String] UUID of the payroll account.
    # @param pinwheel_version [String] Version identifier specifying how the Pinwheel API should behave. See the Change Management page for more information.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :from_year Filter for tax forms during or after this year.
    # @option opts [Integer] :to_year Filter for tax forms during or before this year.
    # @option opts [String] :cursor Cursor for the page you want to retrieve.
    # @option opts [Integer] :limit The maximum number of results to return.
    # @return [Array<(ListTaxFormsV1AccountsAccountIdTaxFormsGet200Response, Integer, Hash)>] ListTaxFormsV1AccountsAccountIdTaxFormsGet200Response data, response status code and response headers
    def list_tax_forms_v1_accounts_account_id_tax_forms_get_with_http_info(account_id, pinwheel_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: TaxFormsApi.list_tax_forms_v1_accounts_account_id_tax_forms_get ..."
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TaxFormsApi.list_tax_forms_v1_accounts_account_id_tax_forms_get"
      end
      # verify the required parameter 'pinwheel_version' is set
      if @api_client.config.client_side_validation && pinwheel_version.nil?
        fail ArgumentError, "Missing the required parameter 'pinwheel_version' when calling TaxFormsApi.list_tax_forms_v1_accounts_account_id_tax_forms_get"
      end
      # verify enum value
      allowable_values = ["2023-11-22", "2023-07-18", "2023-04-18", "2022-09-09", "2022-06-22", "2022-03-02"]
      if @api_client.config.client_side_validation && !allowable_values.include?(pinwheel_version)
        fail ArgumentError, "invalid value for \"pinwheel_version\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:limit].nil? && opts[:limit] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TaxFormsApi.list_tax_forms_v1_accounts_account_id_tax_forms_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:limit].nil? && opts[:limit] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling TaxFormsApi.list_tax_forms_v1_accounts_account_id_tax_forms_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = "/accounts/{account_id}/tax_forms".sub("{" + "account_id" + "}", CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:from_year] = opts[:from_year] if !opts[:from_year].nil?
      query_params[:to_year] = opts[:to_year] if !opts[:to_year].nil?
      query_params[:cursor] = opts[:cursor] if !opts[:cursor].nil?
      query_params[:limit] = opts[:limit] if !opts[:limit].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept(["application/json"])
      header_params[:"Pinwheel-Version"] = pinwheel_version

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || "ListTaxFormsV1AccountsAccountIdTaxFormsGet200Response"

      # auth_names
      auth_names = opts[:debug_auth_names] || ["apiSecret"]

      new_options = opts.merge(
        operation: :"TaxFormsApi.list_tax_forms_v1_accounts_account_id_tax_forms_get",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaxFormsApi#list_tax_forms_v1_accounts_account_id_tax_forms_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      [data, status_code, headers]
    end
  end
end
